body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas: 
      "header header"
      "nav main";
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    row-gap: 10px;
    column-gap: 15px;
  }
  
  header {
    grid-area: header;
    border: 2px solid red;
  }
  
  main {
    grid-area: main;
    border: 2px solid blue;
  }
  
  nav {
    grid-area: nav;
    border: 2px solid green;
  }